* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background: rgba(1, 1, 1, 1.0);
    background: radial-gradient(at left top, rgba(1, 1, 1, 1.0), rgba(90, 90, 90, 1.0));

}

.navbar {
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    position: relative;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-links li {
    margin-left: 20px 0;
    font-size: 24px;
}

.nav-links a {
    color: white;
}

.menu-hamburger {
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
}

.nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(8px);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: left 0.4s ease;
        z-index: 1000;
    }

.nav-links.mobile-menu {
        left: 0;
    }

