* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background: rgba(1, 1, 1, 1.0);
    background: radial-gradient(at left top, rgba(1, 1, 1, 1.0), rgba(90, 90, 90, 1.0));

}

.main {
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar {
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    position: relative;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.titolo {
    padding: 0 30px;
    display: flex;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-links li {
    margin-left: 20px 0;
    font-size: 24px;
}

.nav-links a {
    color: white;
}

.menu-hamburger {
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
}

.nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(40px);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: left 0.4s ease;
        z-index: 1000;
    }

.nav-links.mobile-menu {
        left: 0;
}

.container {
    margin-top: 30px;
    width: 80%;
    background: white;
    border-radius: 8px;
    padding: 30px 40px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details i {
    font-size: 30px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.container .content .right-side {
    width: 75%;
    margin-left: 0;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    font-weight: 500;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
    margin-top: 6px;
}

.right-side .message-box {
    margin-top: 12px;
    display: inline-block;
}

.right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    background: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-side .button input[type="button"]:hover{
    background: grey;
}

@media (max-width: 950px) {
    .container {
    width: 90%;
    padding: 30px 35px 40px 35px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 820px) {
    .container {
        margin: 40px 0;
        height: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .container .content {
        flex-direction: column-reverse;
    }

    .container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .content .left-side::before {
        display: none;
    }

    .right-side {
        width: 100%;
        margin-left: 0;
    }
}